 
  body {
    color: blue;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
  }
    
  .calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 10em;
  }
    .calculator::before,
    .calculator::after {
      content: " ";
      display: table;
    }
    
    .calculator::after {
      clear: both;
    }
  
  .viewer {
    color: blue;
    float: left;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 9em;
    height: 3em;
  }

  .line {
      width: 100%;
      clear: both;
  }
  
  button {
    border: 0;
    background: black;
    color: #6cacc5;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
  } 
  button:hover {
      background: #201e40;
    }
    
    button:focus {
      outline: 0; 
  
    }
      button::after {
        animation: zoom 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both; 
        content: attr(data-num);
        cursor: default;
        font-size: 100px;
        position: absolute;
             top: 1.5em;
             left: 50%;
        text-align: center;
        margin-left: -24px;
        opacity: 0;
        width: 48px;    
      }
  
  .ops:focus::after {
    content: attr(data-ops);
    margin-left: -210px;
    width: 420px;
  }

  .plus {
      margin-right: 7px;
      float: right;
  }

  .zero {
      margin-left:2.8em;
  }
  .equals {
    margin-left: 2.7em;
  }
  
  .equals:focus::after {
    content: attr(data-result);
    margin-left: -300px;
    width: 600px;
  }
  
